<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "Inventory" value="A1,Snickers,5,0.75;B1,Coke,5,1.10;C1,Doritos,5,1.35;D1,Gum,5,0.35"/>
    <add key="VendingMachineInstructions" value="------------ V E N D I N G   M A C H I N E ----------------
  - Money can be entered as a decimal, such as 1.50 or .75

  - Funds will accumulate until a valid item is selected and change is dispensed or a refund is selected

  - Valid selections are: {0}

  You can also enter the keywords below to use additional features of the vending machine

      Restock - Adds inventory to current vending machine inventory

      Refund - Converts the vending machine's available funds to change

      Reset - Resets the vending machine's to it's original state

      Help - Displays instructions

      Quit - Closes the program
-----------------------------------------------------------
" />
  </appSettings>
</configuration>